@font-face {
    font-family: robotoThin;
    src: url(Roboto-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: robotoLight;
    src: url(Roboto-Light.ttf);
}

@keyframes buttonAnimation {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.1, 1.1);}
    100% {transform: scale(1, 1);}
}

@keyframes hoverAnimation {
    0% {transform: scale(1, 1); border-color: #656565;}
    100% {transform: scale(1.1, 1.1); border-color: #000;}
    /*100% {transform: scale(1, 1);}*/
}

@keyframes mouseOutAnimation {
    0% {transform: scale(1.1, 1.1); border-color: #000;}
    100% {transform: scale(1, 1); border-color: #656565;}
    /*100% {transform: scale(1, 1);}*/
}

@keyframes swipeAnimation {
    0% {margin-left: 0;}
    100% {margin-left: -1000px;}
}

@keyframes toCorrect {
	0% {outline-color: #000; background-color: #fff; color: #000;}
	100% {outline-color: #8bc34a; background-color: #8bc34a; color: #fff;}
}

@keyframes toWrong {
	0% {outline-color: #000; background-color: #fff; color: #000;}
	100% {outline-color: #c62828; background-color: #c62828; color: #fff;}
}

@keyframes cardFallLeft {
	0% {transform: rotate(0deg); top: 0px;}
	100% {transform: rotate(-45deg); top: 1000px;}
}

@keyframes cardFallRight {
	0% {transform: rotate(0deg); top: 0px;}
	100% {transform: rotate(45deg); top: 1000px;}
}

body{
    background: url(images/background.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#wrapper{
    width: 950px;
    height: 550px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 43px 0px rgba(83,83,83,1);
    -moz-box-shadow: 0px 0px 43px 0px rgba(83,83,83,1);
    box-shadow: 0px 0px 43px 0px rgba(83,83,83,1);
    margin: 0 auto;
    padding-top: 25px;
    overflow: hidden;
}

#modeMenu, #quiz, #startMenu, #final {
	width: 950px;
    height: 550px;
}

h1{
    width: 950px;
    font-family: robotoThin;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
}

#description {
    font-family: robotoLight;
    font-size: 25px;
    color: #424242;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    animation-name: swipeAnimation;
    animation-duration: 0.6s;
}

#start {
	display: block;
	width: 350px;
    padding: 20px 20px;	
    /*background-color: #0097a7;*/
    background-color: #0097A7;
    color: #fff;
    font-family: robotoLight;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
	margin: 50px auto 0 auto;
}

.mode{
	display: block;
	width: 440px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background-color: #0097a7;*/
    background-color: #0097A7;
    color: #fff;
    font-family: robotoLight;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
	margin: 35px auto 0 auto;
}

#question{
	font-family: robotoThin;
	font-size: 70px;
	text-align: center;
	margin-top: 130px;
}

#quiz a {
	display: block;
	outline: 8px solid;
	outline-color: #2a7072;
	background-color: #fff;
	color: #000;
	font-family: robotoLight;
	font-size: 50px;
	width: 300px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	margin-top: 80px;
}

.quizHover {
	animation-name: hoverAnimation;
    animation-duration: 0.4s;
	transform: scale(1.1, 1.1);
	border-color: #000;
}

.quizMouseOut {
	animation-name: mouseOutAnimation;
    animation-duration: 0.4s;
	transform: scale(1, 1);
	border-color: #656565;
}

#left {
	float: left;
	margin-left: 110px;
}

#right {
	float: right;
	margin-right: 110px;
}

.correct {
	animation-name: toCorrect;
	animation-duration: 0.3s;
}

.wrong {
	animation-name: toWrong;
	animation-duration: 0.3s;
}

.animStart{
    animation-name: buttonAnimation;
    animation-duration: 0.4s;
}

.cardFallLeft {
	animation-name: cardFallLeft;
	animation-duration: 1.6s;
}

.cardFallRight {
	animation-name: cardFallRight;
	animation-duration: 1.6s;
}

#quote {
	color: #000;
	font-family: robotoLight;
	font-size: 25px;
	text-align: center;
	width: 690px;
	margin: 80px auto 0 auto;
	font-style: italic;
}

#quote span {
	font-style: italic;
	color: #656565;
	margin-top: 20px;
	display: block;
	text-align: right;
}

#progressBar {
	background-color: #00ACC1;
	height: 10px;
	width: 950px;
	position: relative;
	top: -140px;
	left: -950px;
	z-index: 1;
}

#quiz {
	position: relative;
	z-index: 0;
}

#result {
	font-family: robotoThin;
	font-size: 200px;
	text-align: center;
	width: 950px;
}

#cheerUp {
	font-family: robotoLight;
	font-size: 50px;
	text-align: center;
	width: 950px;
}

#cheerUpDescription {
	font-family: robotoLight;
	font-size: 30px;
	color: #656565;
	width: 950px;
	text-align: center;
}

#reset {
	display: block;
	width: 440px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background-color: #0097a7;*/
    background-color: #0097A7;
    color: #fff;
    font-family: robotoLight;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
	margin: 35px auto 0 auto;
}